
<h1>hello world, <a href="https://github.com/alexmingoia/koa-router">koa-router</a> and 
<a href="https://github.com/tj/co-views">co-views</a></h1>

<h2>this.body = yield render('index'); 不要忘了 yield</h2>
<h2>this.params(Rest风格)和this.query(传统风格)</h2>
<a href="/users/1122"> Rest风格： /users/:id = /users/1122， this.params.id </a><p/>
<a href="/boy/1122"> Rest风格： /:type/:id = /boy/1122， this.params </a><p/>
<a href="/getmethod?a=1&b=2"> get里面的参数： /getmethod?a=1&b=2 </a><p/>
